body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333333;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    background-color:#FFFFFF;
    color:  #333333;
}
.header img {
    height: 80px;
    margin-right: 20px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 0;
}
.header p {
    margin: 0;
    font-size: 14px;
}
.content {
    display: flex;
    padding: 20px;
}
.sidebar {
    width: 200px;
    background-color: #eff5f9;
    padding: 20px;
    margin-right: 20px;
}
.sidebar h2 {
    font-size: 18px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
.sidebar label {
    display: block;
    margin-bottom: 10px;
}
.sidebar input[type="checkbox"] {
    margin-right: 10px;
}
.sidebar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.main-content {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    color: #0055A5;
}
.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}
.filter-buttons button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.filter-buttons button:hover {
    background-color: #ccc;
}
.channel {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.channel:hover{
    cursor: pointer;
}
.channel h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
.overlay-content h2 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
.overlay-content label {
    display: block;
    margin-bottom: 10px;
}
.overlay-content input[type="text"],
.overlay-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.overlay-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.overlay-content button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.search-bar {
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar button {
    width: 80px;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}